
@charset "utf-8";
/* CSS Document */
html,body,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,a,img,th,td,form,fieldset,iframe,object,pre,code,legend,blockquote,input,textarea{margin:0;padding:0;border:0;outline:0}
body{ background-color:#fff/*#290232*/;position:relative;/*font-family:"微软雅黑"; */width:100%;height:100%;}
ol,ul{list-style:none}
:focus{outline:0}
strong{font-weight:700}
address,caption,cite,em,code,dfn,th,var,i,b{font-style:normal;font-weight:400}
form label{cursor:pointer}
input,button,textarea{font-family:inherit;font-size:100%}
textarea{overflow:hidden}
table{border-collapse:separate}
caption,th,td{font-weight:400}
h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%}
a{cursor:pointer;text-decoration:none}
a:hover{text-decoration:none}
input,a{-webkit-tap-highlight-color:transparent}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}
.hide{display:none;}

.outbox{
	min-width:100%;
	min-height:100%;
	background:#11151c;
}
.headbox{
	width:100%;
	height:1.1rem;
	background:#262d38;
}
.middlebox{
	width:100%;
	height:6.4rem;
	background:#11151c;
}
.headbox .header{
	width:13.34rem;
	height:1.1rem;
	margin:0 auto;
}
.headbox .header span{
	height:1.1rem;
	line-height:1.1rem;
	text-align:center;
	font-family:"微软雅黑";
	float:left;
}
.headbox .header .btn_back{
	width:1.6rem;
	font-size:0.3rem;
	color:#6c788c;
}
.headbox .header .title_set{
	width:10.14rem;
	font-size:0.48rem;
	color:#f8f8f8;
	font-weight:bold;
}
.headbox .header .btn_close{
	width:1.6rem;
	font-size:0.3rem;
	color:#6c788c;
}
.middlebox .content{
	width:12.72rem;
	height:5.93rem;
	background:#262d38;
	margin:0.2rem auto;
	border-radius:0.16rem;
}
.middlebox .content .content_left{
	width:3.79rem;
	height:5.92rem;
	border-right:1px solid #3e4755;
	float:left;
}
.middlebox .content .content_left .clubInfo{
	width:3.49rem;
	height:1.4rem;
	padding-top:0.3rem;
	padding-left:0.3rem;

}
.middlebox .content .content_left .clubInfo .logo{
	width:1.16rem;
	height:1.16rem;
	background:url(../images/img1.png) no-repeat;
	background-size:1.16rem 1.16rem;
	float:left;
}
.middlebox .content .content_left .clubInfo .message{
	width:2rem;
	height:1.4rem;
	float:left;	
	margin-left:0.3rem;
}
.middlebox .content .content_left .clubInfo .message .uname{
	width:1.7rem;
	height:0.4rem;
	font-size:0.3rem;
	line-height:0.4rem;
	text-align:left;
	color:#ea6d3b;
	font-family:"微软雅黑";
	font-weight:bold;
	overflow:hidden;
	display:block;

}
.middlebox .content .content_left .clubInfo .message .uid{
	width:1.7rem;
	height:0.35rem;
	font-size:0.22rem;
	line-height:0.35rem;
	text-align:left;
	color:#0a80d9;
	font-family:"微软雅黑";
	overflow:hidden;
	display:block;
}
.middlebox .content .content_left .clubInfo .message .pepnum{
	width:1.7rem;
	height:0.35rem;
}
.middlebox .content .content_left .clubInfo .message .pepnum .icon_pep{
	width:0.28rem;
	height:0.22rem;
	background:url(../images/icon_people.png) no-repeat;
	background-size:0.28rem 0.22rem;
	float:left;
	margin-top:0.06rem;
}
.middlebox .content .content_left .clubInfo .message .pepnum .num{
	width:1.3rem;
	height:0.35rem;
	font-size:0.2rem;
	text-align:left;
	color:#ffffff;
	font-family:"微软雅黑";
	overflow:hidden;
	float:left;
}
.middlebox .content .content_left .btn_replace{
	width:1.01rem;
	height:0.3rem;
	background:url(../images/btn_replace.png) no-repeat;
	background-size:1.01rem 0.3rem;
	margin-left:0.3rem;
}
.middlebox .content .content_left .btn_dismiss{
	width:1.55rem;
	height:0.5rem;
	font-size:0.24rem;
	line-height:0.5rem;
	text-align:right;
	color:#a0adc1;
	font-family:"微软雅黑";
	text-decoration:underline;
	margin-left:1.8rem;
	margin-top:3.1rem;
}
.middlebox .content .content_right{
	width:8.9rem;
	height:5.92rem;
	float:left;
}
.middlebox .content .content_right .title_word{
	width:8rem;
	height:0.7rem;
	font-size:0.28rem;
	line-height:0.7rem;
	text-align:left;
	color:#00aeff;
	font-weight:bold;
	font-family:"微软雅黑";
	margin-left:0.6rem;
	margin-top:0.2rem;
	margin-bottom:0.1rem;
}
.middlebox .content .content_right .recharge{
	width:8.3rem;
	height:0.5rem;
	background:#3e4755;
	border-radius:0.25rem;
	margin-left:0.4rem;
}

