html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: #11151c;
}
#createClub .leftNav {
  height: 100%;
  width: 2.3rem;
  background: #2b323d;
  margin-top: 0.03rem;
  padding-top: 1px;
}
#createClub .leftNav .Tabs {
  list-style: none;
  margin-top: 0.24rem;
}
#createClub .leftNav .Tabs .btn {
  height: 0.83rem;
  margin: 0 auto;
  width: 2rem;
  background: url(../images/bg_mh.png);
  background-size: 100% 100%;
  margin-bottom: 0.1rem;
}
#createClub .leftNav .Tabs .btn.active {
  background: url(../images/bg_mhed.png) 100%;
  background-size: 100% 100%;
}
#createClub .leftNav .Tabs .btn.active:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 0.4rem solid transparent;
  border-bottom: 0.4rem solid transparent;
  border-left: 0.6rem solid #2b323d;
  margin-left: 2.15rem;
}
