@charset "utf-8";
/* CSS Document */
html,
body,
ul,
ol,
li,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
img,
th,
td,
form,
fieldset,
iframe,
object,
pre,
code,
legend,
blockquote,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  background-color: #fff /*#290232*/;
  position: relative;
  /*font-family:"微软雅黑"; */
  width: 100%;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
:focus {
  outline: 0;
}
strong {
  font-weight: 700;
}
address,
caption,
cite,
em,
code,
dfn,
th,
var,
i,
b {
  font-style: normal;
  font-weight: 400;
}
form label {
  cursor: pointer;
}
input,
button,
textarea {
  font-family: inherit;
  font-size: 100%;
}
textarea {
  overflow: hidden;
}
table {
  border-collapse: separate;
}
caption,
th,
td {
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: 100%;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
input,
a {
  -webkit-tap-highlight-color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.hide {
  display: none;
}
body .pop_set {
  min-width: 100%;
  min-height: 100%;
  background: #11151c;
  display: none;
}
body .pop_set .headbox {
  width: 100%;
  height: 1.1rem;
  background: #262d38;
}
body .pop_set .headbox .header {
  width: 13.34rem;
  height: 1.1rem;
  margin: 0 auto;
}
body .pop_set .headbox .header span {
  height: 1.1rem;
  line-height: 1.1rem;
  text-align: center;
  font-family: "微软雅黑";
  float: left;
}
body .pop_set .headbox .header .btn_back {
  width: 1.6rem;
  font-size: 0.3rem;
  color: #6c788c;
}
body .pop_set .headbox .header .title_set {
  width: 10.14rem;
  font-size: 0.48rem;
  color: #f8f8f8;
  font-weight: bold;
}
body .pop_set .headbox .header .btn_close {
  width: 1.6rem;
  font-size: 0.3rem;
  color: #6c788c;
}
body .pop_set .middlebox {
  width: 100%;
  height: 6.4rem;
  background: #11151c;
  padding-top: 0.2rem;
}
body .pop_set .middlebox .content {
  width: 12.72rem;
  height: 5.93rem;
  background: #262d38;
  margin: 0 auto;
  border-radius: 0.16rem;
}
body .pop_set .middlebox .content .content_left {
  width: 3.79rem;
  height: 5.92rem;
  border-right: 1px solid #3e4755;
  float: left;
}
body .pop_set .middlebox .content .content_left .clubInfo {
  width: 3.49rem;
  height: 1.4rem;
  padding-top: 0.3rem;
  padding-left: 0.3rem;
}
body .pop_set .middlebox .content .content_left .clubInfo .logo {
  width: 1.16rem;
  height: 1.16rem;
  background: url(../images/img1.png) no-repeat;
  background-size: 1.16rem 1.16rem;
  float: left;
}
body .pop_set .middlebox .content .content_left .clubInfo .message {
  width: 2rem;
  height: 1.4rem;
  float: left;
  margin-left: 0.3rem;
}
body .pop_set .middlebox .content .content_left .clubInfo .message .uname {
  width: 1.7rem;
  height: 0.4rem;
  font-size: 0.3rem;
  line-height: 0.4rem;
  text-align: left;
  color: #ea6d3b;
  font-family: "微软雅黑";
  font-weight: bold;
  overflow: hidden;
  display: block;
}
body .pop_set .middlebox .content .content_left .clubInfo .message .uid {
  width: 1.7rem;
  height: 0.35rem;
  font-size: 0.22rem;
  line-height: 0.35rem;
  text-align: left;
  color: #0a80d9;
  font-family: "微软雅黑";
  overflow: hidden;
  display: block;
}
body .pop_set .middlebox .content .content_left .clubInfo .message .pepnum {
  width: 1.7rem;
  height: 0.35rem;
}
body .pop_set .middlebox .content .content_left .clubInfo .message .pepnum .icon_pep {
  width: 0.28rem;
  height: 0.22rem;
  background: url(../images/icon_people.png) no-repeat;
  background-size: 0.28rem 0.22rem;
  float: left;
  margin-top: 0.06rem;
}
body .pop_set .middlebox .content .content_left .clubInfo .message .pepnum .num {
  width: 1.3rem;
  height: 0.35rem;
  font-size: 0.2rem;
  text-align: left;
  color: #ffffff;
  font-family: "微软雅黑";
  overflow: hidden;
  float: left;
}
body .pop_set .middlebox .content .content_left .btn_replace {
  width: 1.01rem;
  height: 0.3rem;
  background: url(../images/btn_replace.png) no-repeat;
  background-size: 1.01rem 0.3rem;
  margin-left: 0.3rem;
}
body .pop_set .middlebox .content .content_left .btn_dismiss {
  width: 1.55rem;
  height: 0.5rem;
  font-size: 0.24rem;
  line-height: 0.5rem;
  text-align: right;
  color: #a0adc1;
  font-family: "微软雅黑";
  text-decoration: underline;
  margin-left: 1.8rem;
  margin-top: 3.1rem;
}
body .pop_set .middlebox .content .content_right {
  width: 8.9rem;
  height: 5.92rem;
  float: left;
}
body .pop_set .middlebox .content .content_right .title_word {
  width: 8rem;
  height: 0.7rem;
  font-size: 0.28rem;
  line-height: 0.7rem;
  text-align: left;
  color: #00aeff;
  font-weight: bold;
  font-family: "微软雅黑";
  margin-left: 0.6rem;
  margin-top: 0.2rem;
  margin-bottom: 0.1rem;
}
body .pop_set .middlebox .content .content_right .recharge {
  width: 8.3rem;
  height: 0.5rem;
  background: #3e4755;
  border-radius: 0.25rem;
  margin-left: 0.4rem;
}
body .pop_set .middlebox .content .content_right .recharge .text0 {
  width: 2.1rem;
  height: 0.5rem;
  font-size: 0.24rem;
  line-height: 0.5rem;
  font-family: "微软雅黑";
  color: #ffffff;
  float: left;
  margin-left: 0.2rem;
}
body .pop_set .middlebox .content .content_right .recharge .text1 {
  width: 1.2rem;
  height: 0.5rem;
  font-size: 0.24rem;
  line-height: 0.5rem;
  font-family: "微软雅黑";
  color: #da171d;
  float: left;
}
body .pop_set .middlebox .content .content_right .recharge .text2 {
  width: 2.7rem;
  height: 0.5rem;
  font-size: 0.24rem;
  line-height: 0.5rem;
  font-family: "微软雅黑";
  color: #ffffff;
  float: left;
}
body .pop_set .middlebox .content .content_right .recharge .text3 {
  width: 1.2rem;
  height: 0.5rem;
  font-size: 0.24rem;
  line-height: 0.5rem;
  font-family: "微软雅黑";
  color: #00e4ff;
  float: left;
}
body .pop_set .middlebox .content .content_right .recharge .text4 {
  width: 0.9rem;
  height: 0.5rem;
  font-size: 0.24rem;
  line-height: 0.5rem;
  font-family: "微软雅黑";
  color: #2472b6;
  float: left;
  text-decoration: underline;
}
body .pop_set .middlebox .content .content_right .alarm {
  width: 8.3rem;
  height: 0.5rem;
  background: #3e4755;
  border-radius: 0.25rem;
  margin-left: 0.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0.4rem;
}
body .pop_set .middlebox .content .content_right .alarm .text0 {
  width: 2rem;
  height: 0.5rem;
  font-size: 0.24rem;
  line-height: 0.5rem;
  font-family: "微软雅黑";
  color: #ffffff;
  float: left;
  margin-left: 0.2rem;
}
body .pop_set .middlebox .content .content_right .alarm .text1 {
  width: 1.2rem;
  height: 0.5rem;
  font-size: 0.24rem;
  line-height: 0.5rem;
  font-family: "微软雅黑";
  color: #da171d;
  float: left;
}
body .pop_set .middlebox .content .content_right .alarm .text2 {
  width: 4rem;
  height: 0.5rem;
  font-size: 0.24rem;
  line-height: 0.5rem;
  font-family: "微软雅黑";
  color: #ffffff;
  float: left;
}
body .pop_set .middlebox .content .content_right .alarm .text3 {
  width: 0.9rem;
  height: 0.5rem;
  font-size: 0.24rem;
  line-height: 0.5rem;
  font-family: "微软雅黑";
  color: #2472b6;
  float: left;
  text-decoration: underline;
}
body .pop_set .middlebox .content .content_right .play {
  width: 8.3rem;
  height: 0.5rem;
  background: #3e4755;
  border-radius: 0.25rem;
  margin-left: 0.4rem;
  margin-top: 0.1rem;
}
body .pop_set .middlebox .content .content_right .play .text0 {
  width: 6.8rem;
  height: 0.5rem;
  font-size: 0.24rem;
  line-height: 0.5rem;
  font-family: "微软雅黑";
  color: #ffffff;
  float: left;
  margin-left: 0.2rem;
}
body .pop_set .middlebox .content .content_right .play .text1 {
  width: 1.2rem;
  height: 0.5rem;
  font-size: 0.24rem;
  line-height: 0.5rem;
  font-family: "微软雅黑";
  color: #2472b6;
  float: left;
  text-decoration: underline;
}
body .pop_set .middlebox .content .content_right .type {
  width: 8.3rem;
  height: 0.5rem;
  background: #3e4755;
  border-radius: 0.25rem;
  margin-left: 0.4rem;
  margin-top: 0.1rem;
}
body .pop_set .middlebox .content .content_right .type .text0 {
  width: 0.3rem;
  height: 0.3rem;
  background: url(../images/radio_checked.png) no-repeat;
  background-size: 0.3rem 0.3rem;
  float: left;
  margin-top: 0.1rem;
  margin-left: 0.2rem;
}
body .pop_set .middlebox .content .content_right .type .text1 {
  width: 7.2rem;
  height: 0.5rem;
  font-size: 0.24rem;
  line-height: 0.5rem;
  font-family: "微软雅黑";
  color: #ffffff;
  text-align: left;
  float: left;
  margin-left: 0.2rem;
}
body .pop_phonebind {
  min-width: 100%;
  min-height: 100%;
  display: none;
}
body .pop_phonebind .bg_shell {
  width: 7.4rem;
  height: 5.2rem;
  margin: 1.15rem auto;
  background: #485365;
  position: relative;
}
body .pop_phonebind .bg_shell .btn_close {
  width: 0.4rem;
  height: 0.4rem;
  background: url(../images/btn_close.png) no-repeat;
  background-size: 0.4rem 0.4rem;
  position: absolute;
  right: 0.1rem;
  top: 0.1rem;
}
body .pop_phonebind .bg_shell .title {
  width: 7.4rem;
  height: 1rem;
  font-size: 0.36rem;
  color: #f4f4f4;
  line-height: 1rem;
  text-align: center;
  font-weight: bold;
  font-family: "微软雅黑";
  margin-bottom: 0.15rem;
}
body .pop_phonebind .bg_shell .phone_number {
  width: 6.26rem;
  height: 0.7rem;
  margin-left: 0.58rem;
  margin-bottom: 0.3rem;
}
body .pop_phonebind .bg_shell .phone_number .phone_font {
  width: 1.33rem;
  height: 0.7rem;
  font-size: 0.24rem;
  color: #dbdcdf;
  line-height: 0.7rem;
  text-align: left;
  font-family: "微软雅黑";
  float: left;
}
body .pop_phonebind .bg_shell .phone_number .inp_number {
  width: 4.72rem;
  height: 0.7rem;
  background: #2b323d;
  font-size: 0.24rem;
  color: #dbdcdf;
  line-height: 0.7rem;
  text-align: left;
  font-family: "微软雅黑";
  float: left;
  padding-left: 0.2rem;
  border-radius: 0.1rem;
}
body .pop_phonebind .bg_shell .phone_number .inp_number:placeholder {
  color: #68768b;
  font-size: 0.24rem;
  line-height: 0.7rem;
  text-align: left;
}
body .pop_phonebind .bg_shell .icon_verify {
  width: 6.26rem;
  height: 0.7rem;
  margin-left: 0.58rem;
  margin-bottom: 0.3rem;
}
body .pop_phonebind .bg_shell .icon_verify .icon_font {
  width: 1.33rem;
  height: 0.7rem;
  font-size: 0.24rem;
  color: #dbdcdf;
  line-height: 0.7rem;
  text-align: left;
  font-family: "微软雅黑";
  float: left;
}
body .pop_phonebind .bg_shell .icon_verify .inp_icon {
  width: 3.14rem;
  height: 0.7rem;
  background: #2b323d;
  font-size: 0.24rem;
  color: #dbdcdf;
  line-height: 0.7rem;
  text-align: left;
  font-family: "微软雅黑";
  float: left;
  padding-left: 0.2rem;
  border-radius: 0.1rem;
}
body .pop_phonebind .bg_shell .icon_verify .inp_icon-placeholder {
  color: #68768b;
  font-size: 0.24rem;
  line-height: 0.7rem;
  text-align: left;
}
body .pop_phonebind .bg_shell .icon_verify .img_verify {
  width: 1.4rem;
  height: 0.7rem;
  margin-left: 0.1rem;
  float: left;
  background: url(../images/icon_verify.png) no-repeat;
  background-size: 1.4rem 0.7rem;
}
body .pop_phonebind .bg_shell .info_verify {
  width: 6.26rem;
  height: 0.7rem;
  margin-left: 0.58rem;
  margin-bottom: 0.1rem;
}
body .pop_phonebind .bg_shell .info_verify .info_font {
  width: 1.33rem;
  height: 0.7rem;
  font-size: 0.24rem;
  color: #dbdcdf;
  line-height: 0.7rem;
  text-align: left;
  font-family: "微软雅黑";
  float: left;
}
body .pop_phonebind .bg_shell .info_verify .inp_info {
  width: 3.14rem;
  height: 0.7rem;
  background: #2b323d;
  font-size: 0.24rem;
  color: #dbdcdf;
  line-height: 0.7rem;
  text-align: left;
  font-family: "微软雅黑";
  float: left;
  padding-left: 0.2rem;
  border-radius: 0.1rem;
}
body .pop_phonebind .bg_shell .info_verify .inp_info:placeholder {
  color: #68768b;
  font-size: 0.24rem;
  line-height: 0.7rem;
  text-align: left;
}
body .pop_phonebind .bg_shell .info_verify .get_verify {
  width: 1.21rem;
  height: 0.25rem;
  margin-left: 0.1rem;
  margin-top: 0.2rem;
  float: left;
  background: url(../images/btn_get.png) no-repeat;
  background-size: 1.21rem 0.25rem;
}
body .pop_phonebind .bg_shell .submit {
  width: 2.4rem;
  height: 0.73rem;
  margin: 0.2rem 2.5rem;
  float: left;
  background: url(../images/btn_verify.png) no-repeat;
  background-size: 2.4rem 0.73rem;
}
body .pop_adjust {
  min-width: 100%;
  min-height: 100%;
  display: none;
}
body .pop_adjust .bg_shell {
  width: 7.4rem;
  height: 5.2rem;
  margin: 1.15rem auto;
  background: #485365;
  position: relative;
}
body .pop_adjust .bg_shell .title {
  width: 7.4rem;
  height: 1rem;
  font-size: 0.36rem;
  color: #f4f4f4;
  line-height: 1rem;
  text-align: center;
  font-weight: bold;
  font-family: "微软雅黑";
  margin-bottom: 0.15rem;
}
body .pop_adjust .bg_shell .btn_close {
  width: 0.4rem;
  height: 0.4rem;
  background: url(../images/btn_close.png) no-repeat;
  background-size: 0.4rem 0.4rem;
  position: absolute;
  right: 0.1rem;
  top: 0.1rem;
}
body .pop_adjust .bg_shell .tip_over {
  width: 6.26rem;
  height: 0.7rem;
  margin-left: 0.58rem;
  margin-top: 1rem;
}
body .pop_adjust .bg_shell .tip_over .over_font {
  width: 1.53rem;
  height: 0.7rem;
  font-size: 0.28rem;
  color: #dbdcdf;
  line-height: 0.7rem;
  text-align: left;
  font-family: "微软雅黑";
  float: left;
  margin-right: 0.2rem;
}
body .pop_adjust .bg_shell .tip_over .inp_over {
  width: 2.5rem;
  height: 0.7rem;
  background: #2b323d;
  font-size: 0.28rem;
  color: #ffd600;
  line-height: 0.7rem;
  text-align: center;
  font-family: "微软雅黑";
  float: left;
  font-weight: bold;
  border-radius: 0.1rem;
}
body .pop_adjust .bg_shell .tip_over .inp_over:placeholder {
  color: #68768b;
  font-size: 0.24rem;
  line-height: 0.7rem;
  text-align: left;
}
body .pop_adjust .bg_shell .tip_over .get_font {
  width: 1.21rem;
  height: 0.25rem;
  margin-left: 0.2rem;
  font-size: 0.28rem;
  color: #dbdcdf;
  line-height: 0.7rem;
  text-align: left;
  font-family: "微软雅黑";
  float: left;
}
body .pop_adjust .bg_shell .refer {
  width: 2.4rem;
  height: 0.73rem;
  margin: 1rem 2.5rem;
  float: left;
  background: url(../images/btn_submit.png) no-repeat;
  background-size: 2.4rem 0.73rem;
}
body .pop_play {
  min-width: 100%;
  min-height: 100%;
  background: #11151c;
}
body .pop_play .middlebox {
  width: 100%;
  height: 6.4rem;
  background: #11151c;
  padding-top: 0.2rem;
}
body .pop_play .middlebox .content {
  width: 13.34rem;
  height: 6.4rem;
  margin: 0 auto;
  background: red;
}
body .pop_play .middlebox .content .content_left {
  width: 2.7rem;
  height: 6.4rem;
  float: left;
}
body .pop_play .middlebox .content .content_left .bg_list {
  width: 2.3rem;
  height: 6.4rem;
  background: #2b323d;
}
body .pop_play .middlebox .content .content_left .bg_list .btn_item {
  width: 2.5rem;
  height: 0.8rem;
  background: url(../images/bg_mh.png) no-repeat;
  background-size: 2.5rem 0.8rem;
  font-size: 0.3rem;
  color: #8494ab;
  line-height: 0.8rem;
  font-weight: bold;
  text-align: left;
  text-indent: 0.4rem;
  font-family: "微软雅黑";
  margin-top: 0.2rem;
  margin-left: 0.15rem;
  float: left;
}
body .pop_play .middlebox .content .content_left .bg_list .btn_item.checked {
  background: url(../images/bg_mhed.png) no-repeat;
  background-size: 2.5rem 0.8rem;
  color: #ffffff;
}
body .pop_play .middlebox .content .content_right {
  width: 10.1rem;
  height: 6rem;
  background: #2b323d;
  margin: 0.2rem;
  float: left;
  border-radius: 0.2rem;
}
